body {
  font-family: "Inter", sans-serif;
  color: #2e363e;
  background-color: #fff;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

address {
  font-style: normal;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* Header */

.header {
  border-bottom: 3px solid #275f7a;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 25px;
  line-height: 1.5;
  text-transform: uppercase;
  color: #275f7a;
}

.header-nav {
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-item {
}

/* .header-item:not(:last-child) {
    margin-right: 40px;
} */

.header-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5;
  color: #2e363e;
  display: block;
  padding-top: 41px;
  padding-bottom: 41px;
}

.header-link:hover,
.header-link:focus {
  color: #275f7a;
}

.header-address {
}

.header-tel {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.52;
  text-align: right;
  color: #275f7a;
}

/* Hero */

.hero {
  padding-top: 100px;
  padding-bottom: 100px;
}
.container {
}

.hero-container {
  display: flex;
  align-items: center;
}

.hero-title {
  font-size: 48px;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #2e363e;
  margin-bottom: 25px;
  max-width: 580px;
}

.hero-text {
  font-size: 21px;
  line-height: 1.6;
  letter-spacing: -0.01em;
  color: #434b53;
  margin-bottom: 25px;
  max-width: 434px;
}

.hero-btn {
  font-weight: 600;
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  color: #fff;
  background-color: #275f7a;
  border-radius: 5px;
  border: none;
  min-width: 337px;
  height: 70px;
}
/* FEATURES */

.features {
  background-color: #275f7a;
  padding-top: 100px;
  padding-bottom: 100px;
}

.features-title {
  font-size: 36px;
  line-height: 1.33;
  text-align: center;
  color: #fff;
  margin-bottom: 60px;
}

.features-list {
  display: flex;
  gap: 53px;
}

.features-item {
  width: calc((100% - 2 * 53px) / 3);
}

.features-img {
  margin: 0 auto 11px auto;
}

.features-subtitle {
  font-size: 22px;
  line-height: 1.43;
  text-align: center;
  color: #fff;
  margin-bottom: 4px;
}

.features-text {
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

/* ABOUT */

.about {
  padding: 100px 0;
}
.container {
}

.about-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-img {
}

.about-title {
  font-size: 36px;
  line-height: 1.3;
  letter-spacing: -0.03em;
  color: #2e363e;
  max-width: 376px;
  margin-bottom: 20px;
}

.about-text {
  font-size: 21px;
  line-height: 1.43;
  letter-spacing: -0.01em;
  color: #434b53;
  max-width: 527px;
  margin-bottom: 28px;
}

.about-list {
  display: flex;
  gap: 30px;
}
.about-list-item {
}
.about-subtitle {
  font-size: 30px;
  line-height: 1.33;
  color: #275f7a;
}

.about-item-text {
  font-size: 14px;
  line-height: 1.5;
  color: #2e363e;
  max-width: 167px;
}
